@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Site E-Commerce réealisé en Net CORE, Entity Framework, JQuery et Bootstrap.</p>
    <p><a href="http://www.asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>Use this page to detail your site's privacy policy.</p>
